.optionBox {
	padding: 20px;
    height: 200px;
    width: 800px;
    overflow: auto;
}

.paddedBox {
	padding-left: 40px;
}

.divider {
  height: 1px;
  width:100%;
  display:block;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

#container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}