.optionBox {
	padding: 20px;
    height: 200px;
    width: 800px;
    overflow: auto;
}

.paddedBox {
	padding-left: 40px;
}

#container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}